body{
    margin:0 0;
    font-family: 'Open Sans', sans-serif;
    color:#96908F;
}
main{
    margin-bottom:5rem;
}
#carte{
    width:37.8rem;
    height:19.6rem;
    padding-top: 1rem;
    border: solid lightgray 0.1rem;
    -webkit-box-shadow: 3px 10px 20px 1px #545454;
    box-shadow: 3px 10px 20px 1px #545454; 
    border-radius: 1rem;
}

.logoMarseille{
    width: 8rem;
    margin-left: 2rem;
}
.carteBand{
    width:23.6rem;
    margin-bottom: -4.5rem;

}
#carte p{
    margin-bottom: 0.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.2rem;
}

#carte h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    width: 25rem;
    text-transform: uppercase;
    margin: 0 0;
    margin-bottom: -1rem;
}

#carte h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.3rem;
    width: 25rem;
    text-transform: uppercase;
    margin: 0 0;
    font-weight: bold;
    margin-bottom: -3rem;
}

#output_image{
    width:10rem;
    margin: 0 0;
    max-height: 13rem;
    min-height: 10rem;
}

#marseille, #showLastname, #showFirstname{
    color:white;
}

.hidden{
    display: none!important;
}

.blueBorder{
    border: solid 0.2rem #2ab2f4;
}

.blueWord{
    color:#2ab2f4;
}

.blueBack{
    background-color:#2ab2f4;
}

.pinkWord{
    color:#F89BD8;
}

.pinkBack{
    background-color:#F89BD8;
}

.pinkBorder{
    border: solid 0.2rem #F89BD8;
}

.flexIn{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
  }
  
 .center{
     text-align:center;
     margin:0 auto;
     display:block;
 }

  h1{
      text-align: center;
      color:#2ab2f4;
      font-family: 'Open Sans', sans-serif;
      font-size:3rem;
      padding-top:7rem;
  }

  #firstname, #lastname, #slogan{
      margin:2rem 2rem;
  }

  #submit{
    margin: 0 auto;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
#submit:hover {
	background-color:#019ad2;
}
#submit:active {
	position:relative;
	top:1px;
}


footer li, footer a, header a, header li{
    text-decoration:none;
    list-style:none;
    color:#96908F;
    font-size:1.5rem;
}

footer i{
    font-size:3rem;
    margin:0 2rem;
}

header img{
    width:4rem;
}

ul{
    padding-left:0;
    margin:0 0;
}

.persoCarte{
    font-weight:bold;
    width:15rem;
    color:white;
    padding:1rem 2rem;
    background-color:#2573D3;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    margin-top:10rem;
}

h2{
    font-family: 'Open Sans', sans-serif;
    padding-top:7rem;
    color:white;
    margin:0 0;
}

.indexHeader{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/bonneMere.jpg");
    background-position: top;
    padding-bottom:3rem;
    
}

.tight{
    width:90%;
    margin:0 auto;
}

.indexCarte{
    margin-top:5rem;
    align-items: start !important;
    
}

.indexCarte img{
    width:40%;
    padding:0 5%;
}

.indexCarte section{
    width:40%;
}

.indexCarte section h3, .indexCarte section p{
    color:#96908F;
}

 h3{
    font-size:2rem;
    margin-bottom:4rem;
}

.indexCarte section p{
    text-align:justify;
    font-size:1.2rem;
    line-height:2rem;
}

.indexCarte .persoCarte{
    margin-top:6rem !important;
}

.aboutHeader{
    padding-bottom:10rem;
    padding-top:4rem;
}

.presse{
    margin-top:4rem;
    margin-bottom:4rem;
}

.presse section{
    margin-top:3rem;
}

.presse img{
    max-width:15%;
    
}
.bonsPlans a{
    background-color:lightblue;
    width:20%;
    color:white!important;
    text-decoration:none;
    flex-wrap:wrap!important;
    height:20rem;
    padding:1rem 1rem;
    margin:2rem 1rem;
}

.bonsPlans p{
    
    color:white!important;
}

.bonsPlans{
    margin:5rem auto;
}

.plansSport{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/sport.png");
    background-size: 110%;
}

.plansCosmetique{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/cosmetique.png");
    background-size: 110%;
}

.plansDivertissement{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/divertissement.png");
    background-size: 110%;
}

.plansServices{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/service.png");
    background-size: 110%;
}

.plansVetements{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/vetement.png");
    background-size: 110%;
}

.plansRestauration{
    background-image: linear-gradient(rgba(27, 37, 58, 0.5), rgba(27, 37, 58, 0.5)),url("../image/restaurant.png");
    background-size: 110%;
}

header{
    background-color:white;
}